{
    "token": "",
    "channel": "general",
    "feed_url": "",
    "polling_time": 3,
    "header": "New comic: ",
    "state_dir": "/var/db/WeatherReport",
    "debug": false,
    "sendMessage": true
}
